h1, h2, h3 {
	font-family: fantasy, monospace;
	font-weight: bold;
}

ul, p {
	font-size: 18px;
}

.pumpkin {
	background-color: orange;
}

.landing-page {
	background-color: cornflowerblue;
}

.asian-rockfish {
	background-color: rgb(149, 255, 0);
}

.fried-egg {
	background-color: rgb(255, 17, 0);
}

ol {
	font-size: 18px;
}

.landing-title {
	width: 50%;
	margin: auto;
	padding: 8px;
	text-align: center;
}

.recipe-list {
	margin-left: 40px;
}

.recipe-title {
	padding: 5px;

}